body {
  font-family: 'Poppins', sans-serif;
}

h1, h2{
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: bold;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1 !important;
}

.content-wrapper {
    background-color: #ffffff;
}

.card {
    box-shadow: none;
}

.back {
  background-color: #dc3545;
  border-radius: 5px;
  padding: 0 5px;
  display: inline-block;
}

.user-panel {
  top: -5px;
}

.customLogin {
  width:450px;
  margin-top: 20vh;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  color: gray;
}

.sidebar-custom {
  background-color: #d95252;
}

.sidebar-custom a, .nav-pills .nav-link {
  color: #ffffff;
}

.login-box {
  width: 600px;
}

.margin-auto {
  margin: auto;
}

.text-gray-dark {
    color: #868686!important;
    font-size: 14px;
}

.last {
  background-color: transparent;
  border-left: 0;
}

.input-group-text.first {
  background-color: transparent;
  border-right: 0;
  border-radius: .25rem 0 0 .25rem !important;
}

.card.resetPwd {
  padding: 50px 30px;
}

#passError, #rePassError, #validation {
  font-size: 12px;
}

.btn-ok{
  width: 200px;
}

.main-sidebar {
  overflow: hidden;
  height: 100vh !important;
}

/* .nav-sidebar .menu-open>.nav-treeview {
  background: #f16572; 
} */

/*datatable*/
.bottom {
  display: block;
  margin: 15px auto;
  text-align: center !important;
}

.pagination{
  margin-bottom: 0;
}

.dataTables_length > label{
  margin-bottom: 0;
}

.paginate_button {
    margin-left: 10px;
}

.dataTables_info, .dataTables_length, .dataTables_paginate {
  display: inline-block;
}

.dataTables_length {
  vertical-align: top;
}

.dataTables_paginate{
  font-weight: bold
}

.dataTables_info {
  margin-right: 20px
}

.custom-select-sm {
  font-size: 15.45px;
  padding: 5px 21px 5px 10px;
  height: auto;
}

.page-link {
  line-height: 23px;
  padding: 5px 10px;
  color: #6c757d;
  background-color: #f1f1f1;
  border-color: #f1f1f1;
}

.card-body.p-0 div{
  text-align: center
}

.card-body.p-0 > div > div > div {text-align: left}

.page-item.active .page-link {
  background-color: #d54b4b;
  color: #ffffff;
  border-color : #d54b4b;
  border-radius: 3px;
}

.page-item.disabled .page-link{
  background-color: #f1f1f1;
  border-color: #f1f1f1;
}

thead > tr {
  background-color: #f6f6f6;
}

thead > tr th {
  border-bottom : 0 !important;
}

tbody > tr:first-child > td {
  border-top : 0 !important;
}

.table-striped tbody tr:nth-of-type(even){
  background-color: #f9f9f9;
}

.table-striped tbody tr:nth-of-type(odd){
  background-color: #ffffff;
}

.dataTables_empty {
  display: table-cell !important;

} 

.brand-logo{
padding-top: 10px;
padding-left: 11px;
padding-right: 6px;
}

.brand-title{
  font-size:16px;
  font-weight:bold
}

/*sweet alert*/
.sweet-alert .sa-icon.sa-warning {
  border-color: #dc3545 !important
}

.sweet-alert .sa-icon.sa-warning .sa-body, .sweet-alert .sa-icon.sa-warning .sa-dot {
  background-color: #dc3545 !important
}

.cancel.btn-default {
  background-color: #ffffff;
  border: 0;
  color : #dc3545 !important;
}

.sweet-alert {
  width: 540px !important;
}

.sweet-alert h2 {
  font-size: 18px;
}

.sa-button-container button{
  font-weight: bold
}

.sweet-alert .sa-icon {
  margin: 20px auto 34px !important;
}

.content-header{
  padding: 15px 1.5rem !important;
}

.content{
  padding: 15px 1.5rem !important;
}
.navbar-nav{
  padding-left: .5rem !important;
}