body{
  background-image: url('../img/bg.png');
  background-color: transparent !important;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
}

.margin-auto {
  margin: 0 auto 15px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.upperCase {
  text-transform: uppercase;
}

.login-page {
  align-items: flex-end;
}

.btn-ok{
  width: 200px;
}

.width50{
  width: 50%;
}

.font14 {
  font-size: 14px;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  color: gray !important;
}

#emailNotif, #errorPassLogin, #errorResetPass {
  font-size: 12px;
  position: relative;
  top: 4px;
}

#errorPassLogin, #errorResetPass {
  position: relative;
  top: 4px;
}

.errorClass {
  border-color :#dc3545;
  color : #dc3545;
}

.card {
  border-radius: 0.75rem;
}

.modal-header {
  padding: 1rem 24px 10px;
}

.modal-title  {
  margin-bottom: 1rem ;
}

.sub {
  font-size: 15px;
  font-weight: bold;
  color: #7b7b7b;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 615px;
    margin: 1.75rem auto;
  }
}

.gc-reset{
  transform:scale(0.95) !important;
  -webkit-transform:scale(0.95) !important;
  transform-origin:0 0 !important;
  -webkit-transform-origin:0 0 !important;
}

.nav-link {
    color: rgb(138 126 126);
}

.nav-item:first-child .nav-link{
  border-radius : 0.75rem 0 0 0;
  padding: 10px 0;
}

.nav-item:first-child .active{
  border-radius : 0.75rem 0 0.75rem 0;
}

.nav-item:last-child .nav-link{
  border-radius : 0 0.75rem 0 0 ;
  padding: 10px 0;
}

.nav-item:last-child .active{
  border-radius : 0 0.75rem 0 0.75rem;
}

.nav-tabs {
  border-bottom: 1px solid #ffffff;
  font-weight: bold;
  font-size: 14px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: #d54b4b;
  color: #ffffff;
}

.btn-danger {
  background-color: #d54b4b;
  font-weight: bold;
}

.text-small {
  font-size: 20px;
  font-weight: bold;
} 

.text-remember {
  color: rgb(138 126 126);
  font-size: 14px
}

.forgot {
  margin-top: 8px;
  color: #d54b4b;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
}

.icheck-primary>input:first-child:checked+input[type=hidden]+label::before, .icheck-primary>input:first-child:checked+label::before {
    background-color: #d54b4b;
    border-color: #d54b4b;
}

.input-group-text.first {
  background-color: transparent;
  border-right: 0;
  border-radius: .25rem 0 0 .25rem !important;
}

.last {
  background-color: transparent;
  border-left: 0;
}

.custom-select{
  height: auto;
  padding: 0;
}
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}
.custom-select-wrapper select {
  display: none;
}
.custom-select {
  position: relative;
  display: inline-block;
}
.custom-select-trigger {
  position: relative;
  display: block;
  width: 130px;
  padding: 0 15px 0 10px;
  font-size: 15px;
  font-weight: 300;
  color: #333333;
  line-height: 30px;
  background: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}
.custom-select-trigger:after {
  position: absolute;
  display: block;
  content: '';
  width: 8px; height: 8px;
  top: 50%; right: 14px;
  margin-top: -3px;
  border-bottom: 1px solid #333333;
  border-right: 1px solid #333333;
  transform: rotate(45deg) translateY(-50%);
  transition: all .4s ease-in-out;
  transform-origin: 50% 0;
}
.custom-select.opened .custom-select-trigger:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}
.custom-options {
  position: absolute;
  display: block;
  top: 100%; left: 0; right: 0;
  min-width: 100%;
  margin: 15px 0;
  border: 1px solid #b5b5b5;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 1px rgba(0,0,0,.07);
  background: #fff;
  transition: all .4s ease-in-out;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
}
.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
  z-index: 999;
}
.custom-options:before {
  position: absolute;
  display: block;
  content: '';
  bottom: 100%; left: 25px;
  width: 10px; height: 9px;
  margin-bottom: -4px;
  border-top: 1px solid #b5b5b5;
  border-left: 1px solid #b5b5b5;
  background: #fff;
  transform: rotate(45deg);
  transition: all .4s ease-in-out;
}
.option-hover:before {
  background: #f9f9f9;
}
.custom-option {
  position: relative;
  display: block;
  padding: 0 22px 0 35px;
  font-size: 16px;
  color: #333333;
  line-height: 35px;
  cursor: pointer;
  transition: all .4s ease-in-out;
}
.custom-option:first-of-type {
  border-radius: 4px 4px 0 0;
}
.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}
.custom-option:hover,
.custom-option.selection {
  background: #f9f9f9;
}

select#lang option[value="id"], span[data-value="id"] { background-image:url(../img/id.svg); background-size: 15px; background-repeat: no-repeat; background-position: 10px 10px; padding-right: 10px }
select#lang option[value="en"], span[data-value="en"] { background-image:url(../img/en.svg); background-size: 15px; background-repeat: no-repeat; background-position: 10px 10px; padding-right: 10px }
select#lang option[value="cn"], span[data-value="cn"] { background-image:url(../img/cn.svg); background-size: 15px; background-repeat: no-repeat; background-position: 10px 10px; padding-right: 10px }

#loadNotif{
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

#overlay {
  display: none;
}

#html_element > div {
  margin: auto
}